:root {
    --cream: #F4F0EE;
    --teal: #9EC0BC;
    --grey: #595959;
    --brown: #714C43;
    --beige: #D9CFC7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--brown);
    transition: 0.3s ease;
}

/*NAVIGATION*/

.nav-infobar {
    background-color: var(--teal);
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cream);
    padding: 0.3rem 3rem;
}

.nav-bar i {
    margin-left: 0.5rem;
}

.logo img {
    max-width: 2.5rem;
    object-fit: contain;
}

.logo {
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
    color: var(--grey);
    white-space: nowrap;
}

.nav-pages {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--beige);
    background-color: var(--cream);
    padding: 0.5rem 0;
}

/*HERO SECTION*/

h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.hero-section {
    background-image: url(images/hero-seashell.jpg);
    min-height: 82vh;
    background-position: center;
    background-size: cover;
}

.hero-text {
    color: var(--grey);
    padding: 10rem 3rem 0;
    max-width: 45rem;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.hero-text p {
    padding-bottom: 2rem;
}

.hero-text button {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--cream);
    border: 1px solid var(--cream);
    transition: 0.3s ease;
}

.hero-text button:hover {
    cursor: pointer;
    background-color: var(--beige);
    border: 1px solid var(--beige);
}

/*FEATURED SECTION*/

.featured-section {
    background-color: var(--cream);
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 400;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: var(--cream);
}

.featured-container {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: space-around;
    margin: 0 4rem;
    gap: 3rem;
}

.featured-item img{
    max-width: 19rem;
    height: auto;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.featured-item span {
    font-style: italic;
}

.carousel-button {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--teal);
    opacity: 0.7;
    border: 1px solid var(--teal);
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-top: 13rem;
}

.carousel-button:hover {
    opacity: 1;
}