:root {
    --cream: #F4F0EE;
    --teal: #9EC0BC;
    --grey: #595959;
    --brown: #714C43;
    --beige: #D9CFC7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--brown);
    transition: 0.3s ease;
}

/*NAVIGATION*/

.nav-infobar {
    background-color: var(--teal);
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cream);
    padding: 0.3rem 3rem;
}

.nav-bar i {
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
    }
}

.logo img {
    max-width: 2.5rem;
    object-fit: contain;
}

.logo {
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
    color: var(--grey);
    white-space: nowrap;
}

.nav-pages ul{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--beige);
    background-color: var(--cream);
    padding: 0.5rem 0;
}

@media (max-width: 768px) {
    .nav-pages ul {
        justify-content: right;
        padding-right: 2rem;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10rem;
    gap: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--cream);
}

.sidebar ul {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    justify-content: flex-start;
}

.sidebar li {
    padding-bottom: 1rem;
}

.menu-icon {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

/*HERO SECTION*/

h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.hero-section {
    background-image: url(images/hero-seashell.jpg);
    min-height: 82vh;
    background-position: center;
    background-size: cover;
}

.hero-text {
    color: var(--grey);
    padding: 10rem 3rem 0;
    max-width: 45rem;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .hero-text {
        padding: 5rem 3rem 3rem;
    }
    h1 {
        font-size: 2.5rem;
    }
}

.hero-text p {
    padding-bottom: 2rem;
}

.hero-text button {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--cream);
    border: 1px solid var(--cream);
    transition: 0.3s ease;
}

.hero-text button:hover {
    cursor: pointer;
    background-color: var(--beige);
    border: 1px solid var(--beige);
}

/*FEATURED SECTION*/

.title-accent:first-of-type {
    background-color: var(--cream);
}

.title-accent {
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}

.featured-section, .sale-section {
    background-color: var(--cream);
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: var(--cream);
}

.featured-container, .sale-container, .testimonial-container {
    display: flex;
    justify-content: space-around;
    margin: 0 4rem;
    gap: 3rem;
    overflow: hidden;
}

.featured-item img, .sale-item img {
    max-width: 19rem;
    height: auto;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.featured-item span, .sale-item span {
    font-style: italic;
}

.carousel-button {
    max-height: 3rem;
    min-width: 3rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--teal);
    opacity: 0.7;
    border: 1px solid var(--teal);
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-top: 13rem;
}

.carousel-button:hover {
    opacity: 1;
}

.left-button {
    margin-left: 2rem;
}

.right-button {
    margin-right: 2rem;
}

/*ABOUT SECTION*/

.about-section {
    text-align: center;
    background-color: #fff;
}

.about-section p {
    max-width: 70%;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 1rem;
}

.about-section p:first-of-type {
    padding-top: 1rem;
}

h3 {
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
}

.about-section video {
    max-width: 60%;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .about-section video {
        max-width: 80%;
    }
}

/*KITCHEN SECTION*/

.kitchen-container {
    background-color: var(--cream);
    display: flex;
}

.kitchen-container img {
    max-width: 55%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .kitchen-container {
        flex-direction: column;
    }
    .kitchen-container img {
        max-width: 100vw;
        order: -1;
    }
}

.kitchen-text {
    font-size: 1rem;
    padding: 0 3rem;
}

.kitchen-text p:first-of-type {
    padding: 1rem 0;
}

.kitchen-text h3 {
    padding-top: 3rem;
    font-size: 2.5rem;
    text-align: left;
}

.kitchen-text button {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    transition: 0.3s ease;
}

.kitchen-text button:hover {
    cursor: pointer;
    background-color: var(--beige);
    border: 1px solid var(--beige);
}

@media (max-width: 768px) {
    .kitchen-text {
        text-align: center;
        padding-bottom: 3rem;
    }
    .kitchen-text h3 {
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }
}

/*KITCHEN SALE ADDITIONAL STYLES*/

.sale-section {
    background-color: #fff;
}

.sale-item {
    overflow: hidden;
}

.sale-item img{
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.sale-item img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .sale-container {
        flex-direction: column;
    }
    .sale-item {
        text-align: center;
    }
}

/*TESTIMONIAL SECTION ADDITIONAL STYLES*/

.testimonial-section {
    background-color: var(--cream);
}

.testimonial-section > p {
    text-align: center;
    padding-bottom: 1rem;
}

.testimonial-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.testimonial {
    max-width: 25rem;
    height: auto;
    background-color: #fff;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.testimonial p{
    padding-bottom: 1rem;
    font-size: 1rem;
}

.testimonial span {
    font-style: italic;
    font-weight: 500;
}

.testimonial img {
    max-width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 0.5rem;
    align-self: center;
}

.quote {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.3rem;
}

@media (max-width: 768px) {
    .testimonial-container {
        flex-direction: column;
        align-items: center;
    }
}

/*BLOG GALLERY*/

.blog-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-container {
    display: flex;
    gap: 1.5rem;
    padding: 3rem 2rem 3rem 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.image-long {
    max-width: 12rem;
    max-height: auto;
    object-fit: cover;
}

.image-short {
    max-width: 12rem;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-container {
        flex-direction: column;
        padding: 0 0 3rem 0;
    }
    .gallery-container img {
        width: 15rem;
        max-width: none;
    }
    .column {
        gap: 1;
    }
}

.blog-text {
    font-size: 1rem;
    padding: 0 3rem;
}

.blog-text p:first-of-type {
    padding: 1rem 0;
}

.blog-text h3 {
    font-size: 2.5rem;
    text-align: left;
    padding: 0;
}

.blog-text button {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: var(--cream);
    border: 1px solid var(--cream);
    transition: 0.3s ease;
}

.blog-text button:hover {
    cursor: pointer;
    background-color: var(--beige);
    border: 1px solid var(--beige);
}

@media (max-width: 768px) {
    .blog-section {
        flex-direction: column;
        text-align: center;
    }
    .blog-section h3 {
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }
    .blog-text {
        padding-bottom: 3rem;
    }
}

/*NEWSLETTER & FOOTER SECTION*/

.fixed-bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/ceramic-wh.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}

h4 {
    font-weight: 400;
    text-align: left;
    font-family: 'Cormorant Garamond', 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

footer {
    background-color: var(--teal);
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

footer a:hover {
    color: #000;
}

.newsletter {
    text-align: left;
    font-size: 1rem;
    max-width: 50vw;
}

#email-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#email-form label {
    padding-bottom: 1rem;
}

#email-form input {
    border: none;
    height: 2rem;
    width: 25rem;
    padding: 1rem;
    font-size: 1rem;
}

#email-form button {
    border: none;
    background-color: var(--grey);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#email-form button:hover {
    background-color: #000;
}

.links-column ul {
    flex-direction: column;
    gap: 0;
}

footer span {
    font-weight: 500;
    font-size: 1rem;
}

footer ul li {
    padding-top: 0.5rem;
}

footer ul {
    gap: 1rem;
}

footer i {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }
    .newsletter {
        max-width: 80vw;
    }
    #email-form input {
        width: 18rem;
    }
}

/*CONTACT*/

.my-contact {
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
}

.my-contact a {
    color: #000;
}

.my-contact i {
    padding: 0 0.3rem;
}